.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  gap: 1rem;
  input {
    border-radius: 5px;
    padding: 1rem;
    border-width: 1px;
    flex-grow: 1;
  }
  button {
    padding: 1rem;
    border-radius: 5px;
    border-width: 1px;
  }
}
